.center{display: flex; flex-direction: column; align-items: center; }

.font {font-family: 'Permanent Marker', cursive;}

.allPageWidth {width: calc(100% - 173px); margin-inline-start: auto;}

.contactGreen {color: #134B1B; cursor: pointer;}

.contactPurple {color: #aa08a4; cursor: pointer;}

.container{ width: 230px; height: 145px; display: flex; flex-direction: column; justify-content: center;  }

#linkedinImg { width: 65px; height: 59px; border-radius: 5px;}

#githubImg { width: 87px; height: 84px;}

#gmailImg { width: 82px; height: 59px;}

.backgroundImg {
  /* transition-duration: 0.2s;
    transition-timing-function: linear; 
  */
  transition: background-image 0.2s linear;
  background-image: url("../../../public/img/4k-firewatch-sunny-day-wallpaper-2048x1152.jpg");
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#backgroundImgNight {
  
  background-image: url("../../../public/img/pruebaFirewatchNight3.png");
 
}

.imgBackgroundNight {background-color: white; border-radius: 10px;}

#whiteTitle {color: #E7FAFA; text-shadow: 0 0 10px #000000; }

#green {color: #134B1B;}

#white {color: #FFFFFF;}

#black {color: #000000; }

.notMargin{ margin: 0%;}

.title {font-size: 70px; font-weight: lighter;}

.subTitle {margin: 0%; font-family: 'Raleway', sans-serif; font-size: 18px; text-align: center; width: 100%; display: flex; justify-content: space-evenly;   margin-top: 45px; } 

.switch {display: flex; justify-content: flex-end; padding-top: 1vw; padding-right: 3vw;}

.githubp {margin-top: 9px;}

@media (min-width: 1440px), (min-height: 800px) {
    

    .title {font-size: 70px; font-weight: lighter; margin-top: 1vw;}
  }

  @media (max-width: 1110px), (max-height: 750px) {
    .subTitle {margin: 0%; font-family: 'Raleway', sans-serif; font-size: 18px; text-align: center; width: 100%; display: flex; justify-content: space-evenly;   margin-top: 0px; }

    .title {font-size: 70px; font-weight: lighter; margin-top: -20px;}
  }

  @media (max-width: 860px), (max-height: 720px) {
    
  }


  @media (max-width: 860px), (max-height: 620px) {
    
  }

  @media (max-width: 860px), (max-height: 720px) {
    
  }

  @media (max-width: 500px) and (max-height: 932px) {

    .backgroundImg {
      /* transition-duration: 0.2s;
        transition-timing-function: linear; 
      */
      min-height: unset;
      transition: background-image 0.2s linear;
      background-image: url("../../../public/img/4k-firewatch-sunny-day-wallpaper-2048x1152.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    .allPageWidth {width: unset; margin-inline-start: unset; height: 87.7vh;}

    .switch {display: flex; justify-content: flex-end; padding-top: 8vw;
      padding-right: 7vw;}

      .title {font-size: 48px; font-weight: lighter; margin-top: 20px;}

      #linkedinImg { width: 41px; height: 36px; border-radius: 5px;}

      #githubImg { width: 51px; height: 51px;}
      
      #gmailImg { width: 48px; height: 36px;}

      .subTitle {margin: 0%; font-family: 'Raleway', sans-serif; font-size: 14px; text-align: center; width: 100%; display: flex; justify-content: space-evenly;   margin-top: 45px; } 

      .gitContainer{ display: flex; flex-direction: column; justify-content: center;}

      .gmailp{margin-bottom: 29px;}

      .githubp {margin-top: 9px; margin-bottom: 39px;}
  }


  
  


