.app {
  text-align: center;
  display: flex;
  flex-direction: row;
}

@media (max-width: 430px), (max-height: 932px) {
  .app{
  text-align: center;
  display: flex;
  flex-direction: column;
  }
}  
