#imgNight {opacity: 0.5;}

.cartImg {width: 511px; height: 310px; margin-top: 24px; border-radius: 15px;}

.dogsImg {width: 511px; height: 278px; border-radius: 15px;}

.frontEnd {width: 458px; text-align: left;}

.dayGlow { text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff7c00;}

.nightGlow {text-shadow:0 0 1px #fff, 0 0 1px #fff, 0 0 7px #ff7c00 ;}

#mongoImg { width: 87px; height: 86px;}

#mongooseImg { width: 87px; height: 86px;}

#jwtImg { width: 70px; height: 69px;}

#swaggerImg { width: 86px; height: 86px; padding-left: 10px;}

#jestImg{ width: 65px; height: 68px; padding-right: 10px;}

.workContainer {display: flex;
  flex-direction: column; }

.row {display: flex;
    flex-direction: row; }

/* .middleLine{
  border-right: 1px solid #ffffff; 
  padding-right: 20px;
  margin-right: 20px; 
} */

.center{text-align: center;}

.containerWidth {width: 511px; padding-top: 40px;}

.divApi1 {align-items: center; display: flex; padding-bottom: 10px; justify-content: space-around;}

.divApi2 {align-items: center; display: flex; justify-content: space-evenly; padding-top: 10px;}

.frontContainer {margin-top:5%; padding-bottom: 40px;}

.frontContainerRest {margin-top:5%; padding-bottom: 150px;}

.center{display: flex; flex-direction: column; align-items: center; }

.font {font-family: 'Permanent Marker', cursive;}
 
.fontInfo {margin: 0%; font-family: 'Raleway', sans-serif; font-size: 18px;}

.textApp {padding-left: 10%;}

.whiteTriangle {
  display: inline-block;
  position: relative;
  width: 0px;
  height: 0px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 35px solid #eaeaea;
  color: #000;
  text-decoration: none;
  transition: transform 0.3s ease;
  margin-top: 5vh;
  cursor: pointer;
}

.greenTriangle {
  display: inline-block;
  position: relative;
  width: 0px;
  height: 0px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 35px solid #134B1B;
  color: #000;
  text-decoration: none;
  transition: transform 0.3s ease;
  margin-top: 5vh;
  cursor: pointer;
}

.whiteTriangle:hover {
  transform: translateY(5px);
}

.greenTriangle:hover {
  transform: translateY(5px);
}

.allPageWidth {width: calc(100% - 173px); margin-inline-start: auto;}

.contactGreen {color: #134B1B; cursor: pointer;}

.contactPurple {color: #aa08a4; cursor: pointer;}

#backgroundImg {
  transition-duration: 0.2s;
    transition-timing-function: linear;
  background-image: url("../../../public/img/firewatch\ day\ without\ firewatch.jpg");
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#backgroundImgNight {
  transition-duration: 0.2s;
    transition-timing-function: linear;
  background-image: url("../../../public/img/firewatch\ night\ without\ firewatch\ 3.jpg");
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#whiteTitle {color: #E7FAFA; text-shadow: 0 0 10px #000000; }

#green {color: #134B1B;}

#darkGreen { background-color: #192116;}

#darkBlue { background: linear-gradient(to bottom, #02002F, #010022);}

#white {color: #ffffffa1;  }

#black {color: #000000; }

#beigeTitle {color: #fef4d1a7;}

#beige {color: #ffffffba;}

.notMargin{ margin: 0%;}

.title {font-size: 70px; font-weight: lighter; margin-top: 1vw; margin: 0% 35%;}

.infoSubtitle {font-size: 70px; font-weight: lighter;}

.subTitle {margin: 0%; font-family: 'Raleway', sans-serif; font-size: 18px; text-align: center; padding: 0.5% 29%; line-height: 1.4;}

.switch {display: flex; justify-content: flex-end; padding-top: 1vw; padding-right: 3vw;}

.info {position: absolute;
  top: 100vh;  width: calc(100% - 173px);}

@media (max-width: 1670px) {
    .title {font-size: 70px; font-weight: lighter; margin-top: 1vw; margin: 0% 30%;}
  }

  @media (max-width: 1280px), (max-height: 1024px) {
    .title {font-size: 70px; font-weight: lighter; margin-top: 1vw; margin: 0% 28%;}

    
  }

  @media (max-width: 1110px), (max-height: 920px) {
    .title {font-size: 70px; font-weight: lighter; margin-top: 1vw; margin: 0% 25%;}
    .textApp {padding-left: 0%;}
  }

  @media (max-width: 860px), (max-height: 720px) {
    .title {font-size: 70px; font-weight: lighter; margin-top: 1vw; margin: 0% 20%;}
  }


  @media (max-width: 860px), (max-height: 620px) {
    .title {font-size: 70px; font-weight: lighter; margin-top: 1vw; margin: 0% 10%;}
  }
